@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "_colors";
@import "./material/input.scss";

html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Roboto';
  font-weight: 400;
  color: $primary;
  font-size: 14px;
}
