
/* AppComponent */
$backgroundAppContainer: #e6e6e6;
$backgroundAppContainerTitle: #cfcfcf;
$fontAppContainerColor: #333333;
$backgroundAppContainerScroll: #e6e6e6;
$backgroundAppContainerThumb: #cfcfcf;
$backgroundAppNoteEmpty: #e1e1e1;

/* NoteComponent */
$backgroundNoteContainer: #dadada;
$colorNoteMessage: #484848;
$colorNoteTimestamp: #838383;
$borderNoteTextarea: #df8e8e;
$borderNoteContainerButtons: #bfbfbf;
$backgroundNoteButton: #e6e6e6;
$borderNoteButton: #bfbfbf;

/* LoadingComponent */
$backgroundLoadingBefore: #e1e1e1;
$backgroundLoadingAfter: #cbcbcb;
$backgroundLoadingComponent: #e1e1e1;