@import "_colors";

:host {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: percentage(1/8);
  padding-right: percentage(1/8);
}

.container {
  background-color: $backgroundAppContainer;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .title {
    min-height: 32px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    background-color: $backgroundAppContainerTitle;
    color: $fontAppContainerColor;
  }

  .notes {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    app-loading {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: $backgroundAppContainerScroll;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $backgroundAppContainerThumb;
    } 
  }
}

.note.empty {
  background-color: $backgroundAppNoteEmpty;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    width: 72px;
    height: 72px;
  }
}

