:host {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: percentage(1/8);
  padding-right: percentage(1/8);
}

.container {
  background-color: #e6e6e6;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    min-height: 32px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    background-color: #cfcfcf;
    color: #333;
  }

  .notes {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #e6e6e6;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cfcfcf;
    } 
  }
}

.note.empty {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    width: 72px;
    height: 72px;
  }
}

