* {
  font-family: 'Roboto';
  font-size: 14px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.note {
  width: calc(50% - 16px);
  margin: 8px;
  height: 125px;
  cursor: pointer;
}