@import "_colors";

:host {
  width: calc(50% - 16px);
  margin: 8px;
  height: 125px;
  background-color: $backgroundNoteContainer;
}

.full-height {
  height: 100%;
  display: flex;
}

.container-note {
  display: flex;
  flex-direction: column;
  flex: 1;

  &.read {
    padding: 6px;
    cursor: pointer;
    position: relative;
    user-select: none;

    &:hover {
      .remove {
        display: block;
      }
    }

    .remove {
      position: absolute;
      width: 18px;
      height: 18px;
      right: 8px;
      display: none;
    }

    .message {
      padding: 10px;
      flex: 1;
      overflow: hidden;
      word-break: break-word;
      color: $colorNoteMessage;
    }

    .timestamp {
      height: 10px;
      font-size: 10px;
      text-align: right;
      color: $colorNoteTimestamp;
    }
  }

  &.edit {
    textarea {
      border: 2px solid $borderNoteTextarea;
      flex: 1;
      resize: none;
      padding: 8px;
      outline: none;
      overflow: hidden;
    }

    .container-buttons {
      border-width: 0px 2px 2px 2px;
      border-style: solid;
      border-color: $borderNoteContainerButtons;
      display: flex;
      height: 32px;

      button {
        width: 100%;
        background-color: $backgroundNoteButton;
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;

        &:first-child {
          border-right: 1px solid $borderNoteButton; 
        }

        &:last-child {
          border-left: 1px solid $borderNoteButton; 
        }

        &:disabled {
          cursor: default;
        }
      }
    }
  }
}